header {
    width: 100%;
    height: 120px;
    line-height: 120px;
    /*三种浏览器的背景颜色渐变，分别对应chrome/safari,FF,IE */
    background:-webkit-gradient(linear, 0% 0%, 100% 100%, from(#29372b), to(#90a8c5));
    background:-moz-linear-gradient(0 50%, #29372b,#90a8c5);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=true,startColorstr=#29372b,endColorstr=#90a8c5,GradientType=1);
}

header #head-container {
    width: 1024px;
    margin: 0 auto;
}

header h1 {
    display: table;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
    color: #FFF;
}

header a {
    display: table-cell;
    vertical-align: middle;
}

header img {
    float: left;
    margin: 0 20px 0 0;
}

.user-operation {
    margin-right: 25px;
}

.mask-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    opacity: 0.5;
    z-index: 999;
}

.hidebox {
    position: fixed;
    top: 190px;
    left: calc(50% - 200px);
    width: 400px;
    height: auto;
    background-color: #FFF;
    border-radius: 5px;
    z-index: 1000;
}

.hidebox h2 {
    color: #000;
    text-align: center;
}

form .items {
    margin: 10px 0;
    padding: 0px 10px;
}

#auto-login {
    margin-left: 100px;
}

.btns {
    text-align: center;
}

.btns button {
    width: 80px;
    height: 30px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

#user-operation {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    padding: 0 10px 10px;
}