
.columns {
    float: left;
    width: 310px;
    margin-right: 25px;
    height: auto;
}

.block {
    display: block;
    position: relative;
    float: left;
    width: 310px;
    height: 160px;
    margin-bottom: 20px;
    background-color: yellow;
}

.read-more {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    background-color: #FFF;
    opacity: 0.5;
}

.read-more a {
    padding: 10px;
}

.inline-block {
    margin: 0;
}

.double-block {
    height: 340px;
}

.inner-block {
    padding: 30px 25px;
}

.block-1 {
    /*background-image: url("../img/1.png");*/
    background-color: #1672aa;
}

.block-2 {
    background-color: #933cc6;
}

.block-3 {
    background-color: #3c9c69;
}

.block-4 {
    background-color: #86233b;
}

.block-5 {
    background-color: #a98417;
}

.block-6 {
    background-color: #57a816;
}

.block-7 {
    background-color: #453756;
}

.block-8 {
    background-color: #11374d;
}