.side {
    float: left;
    width: 320px;
    /*padding: 20px 0 20px 40px;*/
    text-align: left;
}



.details {
    float: left;
    width: 600px;
    line-height: 30px;
    padding: 30px;
}

.details a {
    font-size: 25px;
    color: #000;
}

#shop-list .shop {
    position: relative;
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

.operate-box {
    display: none;
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;