<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <meta name="keywords" content="汕头电商诚信保障平台, 汕头电商, 诚信, 保障">
        <meta name="description" content="汕头电商诚信保障平台，让您更放心的去购物">
        <title>汕头电商诚信保障平台</title>
        <link rel="stylesheet" type="text/css" href="../static/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/layout.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/head.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/foot.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/shop.css" />
        <script type="text/javascript">
            /* 检测IE版本
             * 若IE版本低于9，则跳转
             * 
            */
            var isIE = !!window.ActiveXObject
            var version = navigator.appVersion;
            var version = version.split(";");  
            var trimVersion = version[1].replace(/\s/g,""); 
            if(isIE && (trimVersion=="MSIE6.0" || trimVersion == "MSIE7.0" || trimVersion == "MSIE8.0") ) {
                alert("您的IE版本过低，请升级您的IE浏览器至IE9+或使用谷歌、火狐等高级浏览器");
                window.location.href = "http://ie.microsoft.com";
            }
        </script>
    </head>
    <body class="clear-float">
        <header>
            <div id="head-container">
                <h1>
                    <a href="#"><img src="../static/img/logo.png"></a>
                    汕头电商诚信保障平台
                </h1> 
            </div>
        </header>
        <div class="hide mask-layer"></div>
        <div id="main-container" class="clear-float">
            <div id="user-operation">
                <a href="#" class="float-right user-operation" id="logout">退出</a>
                <a href="#" class="float-right user-operation" id="personal">个人</a>
            </div>
        <!-- 到这里为head.html部分 -->
            <h2 class="title">商店编辑</h2>
            <div class="logo">
                <div>
                    <img src="#" id="logo" alt="logo" />
                </div>
                <div class="items">
                    <label for="tel">联系电话</label>
                    <span>1234567890123</span>
                </div>
                <div class="items">
                    <label for="email">联系邮箱</label>
                    <span>asdfghjklqwe@qq.com</span> 
                </div>
            </div>
            <div class="details">
                <h3>公司名</h3>
                <p class="article">
                    这是一段简介我人有的和主产不为这工要在地一，上是中国同，民了发已经
                </p>
                <label>保障商家</label>
                <div id="shop-list">
                    <div class="shop" data-id="#">
                        <div class="operate-box">
                            <button class="complain-shop">投诉</button>
                        </div>
                        <a href="#"><span class="detail-platform" data-id="0">淘宝店：</span><span class="detail-name">我人有的和主产不为这</span></a>
                        <p>评分：<span class="detail-grade">5</span></p>
                        <p>承诺：<span class="detail-commitment">工要在地一，上是中国同，民了发已经</span></p>
                    </div>
                    <div class="shop" data-id="#">
                        <div class="operate-box">
                            <button class="complain-shop">投诉</button>
                        </div>
                        <a href="#"><span class="detail-platform" data-id="0">淘宝店：</span><span class="detail-name">我人有的和主产不为这</span></a>
                        <p>评分：<span class="detail-grade">5</span></p>
                        <p>承诺：<span class="detail-commitment">工要在地一，上是中国同，民了发已经</span></p>
                    </div>
                </div>
            </div>
            <div class="hide hidebox" id="complain-shop">
                <form action="#" method="post">
                    <h3>我要投诉 <span class="detail-name">我人有的和主产不为这</span></h3>
                    <input type="hidden" name="id" value="#" />
                    <label>投诉内容</label>
                    <textarea name="complain" placeholder="投诉几句">
                        
                    </textarea>
                    <div class="btns">
                        <button type="submit">提交</button>
                        <button type="reset">取消</button>
                    </div>
                </form>
            </div>
            
        </div>
        <footer>
            <address>&copy;2014 By 陈冠达 郑锦泽 &nbsp; &nbsp;备案号：粤12345678</address>
        </footer>
    </body>
    <script type="text/javascript" src="../static/js/jquery-2.1.1.js"></script>
    <script type="text/javascript" src="../static/js/head.js"></script>
    <script type="text/javascript" src="../static/js/shop-edit.js"></script>
</html>